{% assign product = section.settings.product %}
{% if product == blank %}{% endif %}
{% assign related_colors_field = product.metafields.custom.related_colors %}
{% assign related_color_products = blank %}
{% if related_colors_field %}
  {% assign related_color_products = related_colors_field.value | default: related_colors_field %}
{% endif %}

<script src="{{ 'main-product.js' | asset_url }}" defer></script>

<section class="product">
  <div class="container">

     {% render 'product-breadcrumbs', product: product %}

    <div class="product__content flex flex-col items-center gap-8 lg:flex-row lg:items-start">

      {% render 'product-gallery', product: product %}

      <div class="product__info max-w-(--size-648)">

        <h1 class="product__title mb-2 text-3xl font-medium">
          {{ product.title }}
        </h1>

        <div class="mb-3 flex items-center gap-2 text-sm">
          <div class="flex items-center gap-0.5">
            {% for i in (1..5) %}
              <svg class="h-6 w-6">
                <use href="{{ 'sprite.svg' | asset_url }}#star"></use>
              </svg>
            {% endfor %}
          </div>
          <span class="text-gray">5.0</span>
        </div>

        <p class="product__description mb-4 text-sm leading-relaxed text-gray">
          {{ product.description | strip_html }}
        </p>

        {% render 'product-price', product: product %}

        {% render 'product-color-swatches', product: product %}

        {% render 'product-size-selector', product: product %}

        {% assign v = product.selected_or_first_available_variant %}


        {% form 'product', product %}
          <input
            type="hidden"
            name="id"
            value="{{ v.id }}"
            class="variant-id-input"
          >
          {% render 'product-add-to-cart-button', label: 'Add To Bag' %}

        {% endform %}

        {% render 'product-trust-info' %}

        <p class="text-sm leading-relaxed text-gray">
          Let your attitude have the edge in your Nike Air Max Plus, a Tuned Air experience that offers premium stability and unbelievable cushioning. 
        </p>

      </div>
    </div>
  </div>
</section>

<script>
  window.__PRODUCT_DATA__ = {
    activeProductId: {{ product.id }},
    moneyFormat: {{ shop.money_format | json }},
    moneyCurrency: {{ shop.currency | json }},
    products: [
      {% render 'product-data-json', product: product %}
      {% for color_product in related_color_products %}
        {% if color_product == blank %}
          {% continue %}
        {% endif %}
        ,{% render 'product-data-json', product: color_product %}
      {% endfor %}
    ]
  };
</script>

{% schema %}
{
  "name": "Main Product",
  "tag": "section",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ],
  "presets": [
    {
      "name": "Main Product"
    }
  ]
}
{% endschema %}
